/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }



body {
    background-color: #e3e9ff;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
}

.container, iframe {
    background-color: #F6F6F6;
    box-shadow: 0px 0px 0px 1px #FBD850;
    border-radius: 4px;
    margin-bottom: 10px;
}



input[type="text"], textarea, select {
    background-color: #fff7d7;
    border-color: #EB8F00;
    width: 100%;
}

input[type="text"]:focus, textarea:focus, select:focus {
    background-color: #fad163;
}

input[type="submit"] {
    margin-top: 10px;
}

.floatright {
    float: right;
}

.ui-accordion .ui-accordion-content {
    padding-left: 8px;
    padding-right: 8px;
}

.ui-timepicker-div {
    font-size: 0.85em;
}

fieldset {
    margin-bottom: 0;
}

button.delete {
    font-size: 10px;
    margin-bottom: 0;
    padding: 5px 7px 5px 7px;
}

h1, h2 {
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
}
h2 {
    border-color: #fbd850;
    border-width: 1px;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    background-color: #d1e2f3;
    border-style : solid;
    border-radius : 15px;
    box-shadow: 0px 0px 15px #d3d3d3 inset;
}

#calContent h3 {
    border-color: #fbd850;
    border-width: 1px;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    background-color: #d1e2f3;
    border-style : solid;
    border-radius : 15px;
    box-shadow: 0px 0px 15px #d3d3d3 inset;
}

#calContent {
    text-align: center;
    width: 100%
}

#canvasLoader {
    margin-top: 50px;
}


#faq {
    border-color: #fbd850;
    border-width: 1px;
    text-align: left;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: circle;
    background-color: #d1e2f3;
    border-style : solid;
    border-radius : 15px;
    box-shadow: 0px 0px 15px #d3d3d3 inset;
}

#faq .question {
    text-indent: 10pt;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-style : solid;
    border-radius : 15px;
    border-color: #d1e2f3;
    border-width: 1px;
}

#faq .question:hover {
    border-color: #fbd850;
    border-width: 1px;
    background-color: #c1d2ff;
    border-style : solid;
    border-radius : 15px;
    box-shadow: 0px 0px 15px #d3d3d3 inset;
    cursor: pointer;
}

#faq .question:active {
    background-color: #a1b2ff;
}

.answer {
    border-color: #fbd850;
    border-width: 1px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: #c0d0f0;
    border-style : solid;
    border-radius : 15px;
    box-shadow: 0px 0px 15px #d3d3d3 inset;
    overflow: auto;
}

.answer li {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    letter-spacing: -4px;
}

.logo a {  
    text-decoration: none;  
    color: #EB8F00; 
    text-shadow: 0 2px 0 #aaaaaa;  
    -webkit-transition: all .3s;  
    -moz-transition: all .3s;  
    transition: all .3s;  
}

.logo a:hover {  
    color: #D1E2F3;  
}  
